@font-face {
    font-family: "Cuprum";
    src: local("Cuprum");
    src: url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: local("Cuprum Bold"), local("CuprumBold");
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
         url("../fonts/cuprumbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: local("Cuprum Italic"), local("CuprumItalic");
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
         url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum";
    src: local("Cuprum Bold Italic"), local("CuprumBoldItalic");
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
         url("../fonts/cuprumbloditalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"), local("PTSans");
    src: url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans Bold"), local("PTSansBold");
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
         url("../fonts/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 125%;
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.main-header {
  background-color: #f3f7f8;
  min-height: 320px;
}

.container__header {
  background-color: #293449;
}

.container_breadth-full {
  width: 100%;
}

.top-header,
.middle-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-header {
  margin: 0 auto;
  width: 940px;
}

.top-header__logo {
  width: 220px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.top-header__logo:hover {
  background-color: #ca2c37;
}

.form-search {
  width: 270px;
  height: 42px;
  display: flex;
  flex-direction: row-reverse;
}

.form-search__label {
  display: inline-block;
  width: 44px;
  height: 42px;
  margin-left: -4px;
}

 .form-search__icon {
   padding-top: 12px;
   padding-right: 10px;
   padding-bottom: 13px;
   padding-left: 17px;
}

.form-search__input {
  box-sizing: border-box;
  width: 226px;
  height: 42px;
  padding: 14px;
  vertical-align: top;
  font-size: 17px;
  color: #fff;
  background-color: #293449;
  border: none;
}

.form-search__input:focus,
.form-search__input:focus ~ .form-search__label {
  background-color: #fff;
  color: #000;
  outline: none;
  fill: #ee3643;
}

.form-search__input::-webkit-input-placeholder {color:#fff;}
.form-search__input::-moz-placeholder          {color:#fff;}
.form-search__input:-moz-placeholder           {color:#fff;}
.form-search__input:-ms-input-placeholder      {color:#fff;}

.price-menu, .user-menu,
.main-menu, .catalog-list,
.manufacturers-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.price-menu {
  width: 450px;
  display: flex;
  flex-direction: row;
}

.price-menu__item{
  position: relative;
  width: 150px;
  padding-top: 14px;
  padding-bottom: 13px;
  text-align: center;
}

.price-menu__bookmark::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 18px;
  background-image: url("../img/icons/icon-bookmark.svg");
  background-size: 14px 16px;
  background-repeat: no-repeat;
}

.price-menu__cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;

  left: 18px;
  background-image: url("../img/icons/icon-cart.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.price-menu__place-order {
  background-color: #63a63e;
}

.price-menu__link {
  font-size: 17px;
  line-height: 18px;
  color: #fff;
}

.price-menu__link:active {
  opacity: 0.5;
  background-color: #161d29;
}

.price-menu__place-order:hover {
  background-color: #5fbb2d;
  outline: none;
}

.price-menu__place-order:active {
  opacity: 0.5;
  outline: none;
}

.middle-header {
  width: 940px;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 44px;
}

.middle-header__description {
  margin: 0;
  width: 247px;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
  font-weight: normal;
}

.header-contact {
  width: 300px;
}

.header-contact__phone {
  margin: 0;
  position: relative;
  width: 270px;
  padding-top: 11px;
  padding-bottom: 12px;
  border: 3px solid #ffffff;
  text-align: center;
  font-size: 21px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;
  color: #ee3643;
}

.header-contact__phone::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 19px;
  left: 13px;
  background-image: url("../img/icons/icon-phone.svg");
  background-size: 18px 19px;
  background-repeat: no-repeat;
}

.header-contact__address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.user-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 281px;
  height: 45px;
}

.user-menu__item {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  font-size: 21px;
  line-height: 18px;
  color: #000000;

}

.user-menu__link {
  display: block;
  padding-top: 14px;
  padding-bottom: 15px;
  color: #000000;
}

.user-menu__log-in {
  width: 73px;
  padding-left: 48px;
  text-align: left;
}

.user-menu__log-in::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;
  background-image: url("../img/icons/icon-login.svg");
  background-size: 20px 17px;
  background-repeat: no-repeat;
}

.user-menu__registration {
  width: 150px;
  margin-left: 7px;
}

.user-menu__link:hover {
  color: #ee3643;
}

.user-menu__link:active {
  opacity: 0.5;
}

.main-navigation {
  width: 940px;
  margin: 0 auto;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-menu__link {
  display: block;
  height: 55px;
  font-size: 17px;
  line-height: 60px;
  color: #ffffff;
  height: 55px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-menu__link:hover {
  background-color: #293449;
}

.main-menu__link:active{
  background-color: #1d2739;
  opacity: 0.5;
}

main {
  margin: 0;
  padding: 0;
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.promo-content {
  padding-top: 60px;
  padding-bottom: 53px;
  display: flex;
}

.promo-item {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

.promo-content__column_position_left {
  display: flex;
  flex-wrap: wrap;
}

.promo-item__material {
  margin-right: 20px;
  background-color: #ffbf47;
  background-image: url("../img/icons/icon-1.svg");
  background-repeat: no-repeat;
  background-size: 44px 65px;
  background-position: 213px 31px;
}

.promo-item__tool {
  background-color: #3bbce3;
  background-image: url("../img/icons/icon-2.svg");
  background-repeat: no-repeat;
  background-size: 61px 75px;
  background-position: 197px 31px;
}

.promo-item__technics {
  background-color: #dc91d8;
  background-image: url("../img/icons/icon-3.svg");
  background-repeat: no-repeat;
  background-size: 78px 62px;
  background-position: 191px 31px;
}

.promo-item__discounts {
  background-color: #8ed78f;
  background-image: url("../img/icons/icon-4.svg");
  background-repeat: no-repeat;
  background-size: 59px 73px;
  background-position: 196px 26px;
}

.promo-item__deliver {
  background-color: #ffc047;
  background-image: url("../img/icons/icon-5.svg");
  background-repeat: no-repeat;
  background-size: 78px 63px;
  background-position: 191px 32px;
}

.promo-item__title {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-left: 22px;
  padding-bottom:20px;
  font-size: 24px;
  line-height: 9px;
  font-weight: bold;
  color: #ffffff;
}

.promo-item__link,
.promo-carousel__link,
.content-header__link,
.catalog-item__link,
.about-company__link {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 22px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-item__link {
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-carousel__link,
.content-header__link,
.catalog-item__link,
.about-company__link,
.accordion-tabs__link {
  display: block;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-transform: uppercase;
  border-radius: 3px;
}

.promo-carousel__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-carousel__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
}

.promo-carousel__link {
  display: inline-block;
  text-align: center;
  width: 195px;
}

.content-header {
  display: flex;
  align-items: center;
  align-content: center;
  min-height: 89px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
  text-transform: uppercase;
}

.content-header__title {
  font-size: 30px;
  margin-right: auto;
  margin-left: 30px;
  color: #32425c;
}

.content-header__link {
  width: 253px;
  height: 38px;
  padding: 0;
  margin-right: 24px;
  line-height: 40px;
}

.breadcumbs__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-image: url("../img/icons/icon-right-small.svg");
}

.breadcumbs__item {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}
/*КАКАЯ-ТО ХРЕНЬ С ХЛЕБНЫМИ КРОШКАМИ*/
.breadcumbs__item:first-child{
  padding: 0;
  margin-left: 0;
  list-style: none;
}

.breadcumbs__link {
  margin-left: 15px;
  color: #000000;
  font-weight: bold;
}

.breadcumbs__home {
  margin-left: 0;
}

.catalog__header {
  padding-top: 33px;
  padding-bottom: 35px;
  padding-left: 30px;
  background-color: #f2f6f8;
}

.catalog__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.filter {

}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  flex-basis: 220px;
  min-height: 318px;
  align-items: center;
  border: 1px solid #eaeaea;
  text-align: center;
}

.catalog-item:hover {
  box-shadow: 0 4px 10px 0px rgba(41, 52, 73, 0.5);
}



.catalog-item__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
}

.catalog-item__old-price,
.catalog-item__link {

  padding-left: 17px;
  font-size: 17px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 18px;
  color: #a9a9a9;
}

.catalog-item__link {
  position: relative;
  width: 100px;
  padding-left: 17px;
  color: #ffffff;
}

.catalog-item__link::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  right: -22px;
  border: 23px solid transparent;
  border-left-color: #ee3643;
  border-right: 0;
}

.manufacturers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.manufacturers-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 220px;
  height: 145px;
  border: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.manufacturers-list__item:hover,
.manufacturers-list__item:focus {
  box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.manufacturers-list__item:active {
  box-shadow: 0 4px 10px 0px rgba(41, 52, 73, 1);
  opacity: 0.5;
}

.container__services {
  background-color: #f4f8fa;
}

.custom-header__title {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.custom-header__desctiption {
  width: 400px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.accordion-label {
  list-style: none;
}

.accordion-label__description {
  display: block;
  width: 217px;
  padding-top: 19px;
  padding-bottom: 21px;
  padding-left: 23px;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
}

.accordion-label__description:hover {
  background-color: #293449;
}

.accordion-tabs__title {
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  text-transform:  uppercase;
}

.accordion-tabs__text,
.our-company__description,
.company-contacts__description {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.accordion-tabs__link {
  width: 195px;
  text-align: center;
}

.delivery-list {
  list-style: none;
}

.delivery-list__item {
  position: relative;
  font-size: 18px;
  line-height: 20px;
}

.delivery-list__item:before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 7px;
  left: -36px;
  background-color: #ee3643;
}

.about-company__link {
  width: 220px;
}

.container__footer-top {
  background-color: #32425c;
}

.container__footer-bottom {
  background-color: #293449;
}

.footer-top__logo {
  width: 220px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
  cursor: pointer;
}

.footer-menu__list,
.footer-middle__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu__item,
.footer-middle__menu-item {
  display: inline-block;
}

.footer-menu__link,
.footer-middle__link {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-middle {
  min-height: 125px;
}

.footer-middle__address{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-middle__link,
.footer-feedback__mail-link,
.footer-feedback__link {
  color: #ffd180;
}

.footer-menu__link:hover,
.footer-middle__link:hover,
.footer-feedback__mail-link:hover,
.footer-feedback__link:hover,
.footer-menu__link:focus,
.footer-middle__link:focus {
  text-decoration: underline;
}

.footer-menu__link:active,
.footer-middle__link:active {
  opacity: 0.5;
}

.footer-bottom {
  min-height: 105px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.bottom-footer__copyright {
  margin: 0;
  padding: 0;
}

.bottom-footer__social-button {
  font-size: 0;
}

.bottom-footer__vk-icon,
.bottom-footer__facebook-icon,
.bottom-footer__twitter-icon {
  display: table;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #212a3a;
  background-position: 50% 50%;
}

.bottom-footer__vk-icon {
  background-image: url("../img/icons/icon-vk.svg");
  background-repeat: no-repeat;
  background-size: 26px 15px;
}

.bottom-footer__facebook-icon {
  background-image: url("../img/icons/icon-fb.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
}

.bottom-footer__twitter-icon {
  background-image: url("../img/icons/icon-insta.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
}

.bottom-footer__vk-icon:hover,
.bottom-footer__facebook-icon:hover,
.bottom-footer__twitter-icon:hover,
.bottom-footer__vk-icon:active,
.bottom-footer__facebook-icon:active,
.bottom-footer__twitter-icon:active,
.bottom-footer__vk-icon:focus,
.bottom-footer__facebook-icon:focus,
.bottom-footer__twitter-icon:focus {
  background-color: #ee3643;
}


.footer-feedback__mail,
.footer-feedback__powered-by {
  margin: 0;
  padding: 0;
}

.footer-feedback__mail-link:active,
.footer-feedback__link:active,
.footer-feedback__mail-link:focus,
.footer-feedback__link:focus {
  color: #ee3643;
}
