.about {
  @include main-padding (34px, 30px, 30px, 30px);
}

.about__list {
  @include reset-indent;
  list-style: none;
}

.about__item {
  padding-top: 45px;
  background-repeat: no-repeat;

  @include font-bold (17px, 400, normal, 20px, $header-color);

  &::before {
    position: absolute;
    content: "";
  }

  &--flower::before {
    width: 32px;
    height: 37px;
    margin-top: -50px;
    background: {
      image: url("../img/icon-feature-flower.svg");
      size: 32px 37px;
    }
  }

  &--price::before {
    width: 47px;
    height: 27px;
    margin-top: -30px;
    background: {
      image: url("../img/icon-feature-money.svg");
      size: 47px 27px;
    }
  }

  &--heart::before {
    width: 33px;
    height: 27px;
    margin-top: -30px;
    background: {
      image: url("../img/icon-feature-heart.svg");
      size: 33px 27px;
    }
  }

  &--ball::before {
    width: 34px;
    height: 34px;
    margin-top: -30px;
    color: #63d1bb;
    background: {
      image: url("../img/icon-feature-ball.svg");
      size: 34px 34px;
    }
  }

  &--domestic::before {
    width: 54px;
    height: 23px;
    margin-top: -30px;
    background: {
      image: url("../img/icon-feature-rocket.svg");
      size: 54px 23px;
    }
  }

  &--gift::before {
    width: 33px;
    height: 33px;
    margin-top: -35px;
    background: {
      image: url("../img/icon-feature-gift.svg");
      size: 33px 33px;
    }
  }
}
