.features {
  width: 320px;

  @include reset-indent;
}

.features__list {
  @include reset-indent;
  list-style: none;
}

.features__link {
  display: block;


  @include font-bold (19px, 400, normal, 24px, $additional-color);
  text-decoration: none;
}

.features__link--interior {
  @include main-padding (26px, 77px, 28px, 29px);

  background: {
    color: #63d1bb;
    image: url("../img/icon-interior.svg");
    repeat: no-repeat;
    size: 40px 60px;
    position: 244px 23px;
  }
}

.features__link--toys {
  @include main-padding (26px, 114px, 30px, 29px);

  background: {
    color: #56c3b2;
    image: url("../img/icon-toy.svg");
    repeat: no-repeat;
    size: 60px 60px;
    position: 233px 23px;
  }
}
