.features {
  width: 320px;
  @include main-padding(0, 0, 34px, 0);
}

.features__list {
  @include reset-indent;
  list-style: none;
}

.features__link {
  display: block;
  @include main-padding (30px, 30px, 34px, 30px);
  @include font-bold (19px, 400, normal, 24px, $additional-color)
  text-decoration: none;
}

.features__link--interior {

  background: {
    color: #63d1bb;
    image: url("../img/icon-interior.svg");
    repeat: no-repeat;
    size: 40px 60px;
    position: right;
  }
}

.features__link--toys {

  background: {
    color: #56c3b2;
    image: url("../img/icon-toy.svg");
    repeat: no-repeat;
    size: 60px 60px;
    position: right;
  }
}
