.features {
  background-color: #63d1bb;
}

.features__list {
  @include reset-indent;
  list-style: none;
}

.features__link {
  display: block;

  padding: {
    top: 30px;
    bottom: 35px;
  }
}

.features__link--interior {

  background: {
    image: url("../img/icon-interior.svg");
    repeat: no-repeat;
    size: 40px 60px;
    position: right;
  }
}

.features__link--toys {

  background: {
    image: url("../img/icon-toy.svg");
    repeat: no-repeat;
    size: 60px 60px;
    position: right;
  }
}
