.feedback {
  @include main-padding (35px, 30px, 51px, 30px);
  width: 260px;

  @include background-wave;
}

.feedback__text {
  @include font-regular (15px, 400, normal, 30px, $content-color);
}

.feedback__autor-name {
  @include font-bold (17px, 400, normal, 24px, $header-color);
}

.feedback__autor-contact {
  @include font-regular (15px, 400, normal, 30px, $content-color);
}

.feedback__control {
  @include font-bold (18px, 400, normal, 20px, $content-color);
  text-decoration: none;
}

.feedback__control--button {
  // Пока оставлю так, позже придумаю, как сделать элега
  width: 130px;
  height: 64px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.button--left {
  background: {
    image: url("../img/icon-left-arrow.svg");
    repeat: no-repeat;
    position: 50%;
  }
}

.button--right {
  background: {
    image: url("../img/icon-right-arrow.svg");
    repeat: no-repeat;
    position: 50%;
  }
}

.feedback__control--link {
  display: block;
  width: 260px;
}
