.social-icons {
  @include reset-indent;
  @include main-padding (24px, 30px, 27px, 30px);
  list-style: none;
}

.social-icons__item {
  display: inline-block;
  vertical-align: top;
}

.social-icons__link {
  display: block;
  font-size: 0;
  background-repeat: no-repeat;

  &--instagram {
    width: 21px;
    height: 21px;
    margin-top: 3px;
    background: {
      image: url("../img/icon-insta.svg");
      size: 21px 21px;
    }
  }

  &--facebook {
    width: 15px;
    height: 28px;
    background: {
      image: url("../img/icon-fb.svg");
      size: 15px 28px;
    }
  }

  &--twitter {
    width: 24px;
    height: 20px;
    margin-top: 3px;
    background: {
      image: url("../img/icon-twitter.svg");
      size: 24px 20px;
    }
  }
}
